body {
    margin:0;
    padding: 5px;
    color: white;
    background-color: #333;
}
header, main{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    
    background-color: #222;
}

main{
    margin-top: 10px;
    flex-direction: column;
}

form input{
    color: white;
    background-color: #333;
    color:white;
    border-color: #000;
    font-size: large;
    padding: 5px;
    border-radius: 10px;

}
button#add{
    background-color: #0a0;
    border-color: #000;
    font-size: large;
    padding: 5px;
    border-radius: 10px;
}
ul{
    display: flex;
    flex-direction: column-reverse;
}
ul li{
    border-bottom: solid 2px white;
    margin: 0;

}

ul li div.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    margin: 10px;

}

ul li div.listItem button{
    background-color: #c00;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 30px;
}

li.crossed {
    text-decoration: line-through;
    opacity: 0.5
}